<!-- 
    References:
    https://getbootstrap.com/docs/4.3/components/collapse/
    https://developers.google.com/maps/documentation/embed/guide
    https://developers.google.com/maps/documentation/javascript/shapes#polylines
 -->

<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="js/fetch_db.js"></script>

    <!-- From Tutorial 2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwv5JTuqQnKO-3eHRGNXcbUOxmuh6KsRA"></script> -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js">
    </script>
    <!-- Start for code to add username for session management-->
    <script type="text/javascript">
        $(document).ready(function () {

            toastr.options = {
            'closeButton': true,
            'positionClass': 'toast-top-right',
            'preventDuplicates': true,
            'showDuration': '1000',
            'hideDuration': '1000',
            'timeOut': '2000',
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut',
            }

            var userName = sessionStorage.getItem("userName");
            document.getElementById("userNameLabel").innerHTML = userName;
            document.getElementById("userNameLabel").style.color = "white";
            document.getElementById("userNameLabel").style.display = "block";

            $("#submitLogout").click(function () {
                sessionStorage.removeItem("userName");
                document.getElementById("userNameLabel").style.display = "none";
                toastr.success("User loggged out successfully");
                document.getElementById("navbarDropdown").disabled = true;
            });
        });
    </script>
    <!-- End for code to add username for session management-->

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 500px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
        .values {
            float: right;
            font-style: italic;
        }
        .btn-link {
            color: #203244;
        }
        .image {
            width: 3rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a href="/"><img class="image" src="/images/pronet-logo.png" alt="pronet logo"></a>
        <a class="navbar-brand" href="/">&ensp;ProNet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/networkstatus">Network Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/device">Devices</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/geocoding">Geocoding</a>
                </li>
            </ul>
        </div>
        <!-- Start for code to add username for session management-->
        <form class="form-inline my-2 my-lg-0 navbar-nav">
          <label id="userNameLabel" style="display: none;"></label>
          <li class="nav-item dropdown" id="navDropDown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
              <a class="dropdown-item" id="submitLogout" href="#">Logout</a>
            </div>
          </li>
        </form>
        <!-- End for code to add username for session management-->

    </nav>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <script>
                document.write('<br><br><div class="accordion" id="accordionDevices">');
                var devices = fetch_alldevices();
                for (i = 0; i < devices.length; i++) {
                    var obj = JSON.parse(JSON.stringify(devices[i])); {
                        document.write('<div class="card">');
                        document.write('<div class="card-header" id="device' + obj.id + '">');
                        document.write('<h2 class="mb-0">');
                        document.write('<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#device' + obj.id + '"aria-expanded="false" aria-controls="device' + obj.id + '">');
                        document.write('<b>Device ' + obj.id + '</b>');
                        document.write('</button>');
                        document.write('</h2>');
                        document.write('</div>');
                        document.write('<div id="device' + obj.id + '" class="collapse" aria-labelledby="heading' + obj.id + '" data-parent="#accordionDevices">');
                        document.write('<div class="card-body">');
                        document.write('<p>Location:<span class="values">' + obj.lati + ", " + obj.longi + ' </span></br>');
                        document.write('<p>Network:<span class="values">' + obj.nwname + ' </span></br>');
                        document.write('<center><button onclick="initMap(' + obj.lati + ', ' + obj.longi + ')" type="button" class="btn btn-primary mr-sm-2 mb-sm-2">' + 'See on Map' + '</button></center>');
                        document.write('</div>');
                        document.write('</div>');
                        document.write('</div>');
                    }
                }
                document.write('</div>')
            </script>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <br>
            <div class="row">
                <h4 id="map-text">Grid Coverage</h4>
                <div id="map"></div>
                <script>
                    function initMap(x, y) {
                        if (x != null && y != null) {
                            document.getElementById('map-text').innerHTML = 'Device Information';
                            var uluru = { lat: x, lng: y };
                            var map = new google.maps.Map(
                                document.getElementById('map'), {
                                zoom: 13,
                                center: uluru,
                                streetViewControl: false,
                                disableDefaultUI: true,
                            });
                            var marker = new google.maps.Marker({ position: uluru, map: map });
                        }
                        else {
                            document.getElementById('map-text').innerHTML = 'Grid Coverage';
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 9,
                                streetViewControl: false,
                                center: { lat: 44.546341, lng: -64.242798 },
                                disableDefaultUI: true,
                            });

                            // Define the LatLng coordinates for the polygon's path.

                            var devices = fetch_alldevices();
                            var geolati = new Array();
                            var geolongi = new Array();

                            for (i = 0; i < devices.length; i++) {
                                var obj = JSON.parse(JSON.stringify(devices[i])); {
                                    geolati.push(parseFloat(obj.lati));
                                    geolongi.push(parseFloat(obj.longi));
                                }
                            }

                            var triangleCoords = [
                                { lat: geolati[0], lng: geolongi[0] },
                                { lat: geolati[1], lng: geolongi[1] },
                                { lat: geolati[2], lng: geolongi[2] },
                                { lat: geolati[3], lng: geolongi[3] },
                                { lat: geolati[4], lng: geolongi[4] },
                                { lat: geolati[5], lng: geolongi[5] },
                                { lat: geolati[6], lng: geolongi[6] },
                                { lat: geolati[7], lng: geolongi[7] },
                            ];

                            // Construct the polygon.
                            var grid = new google.maps.Polygon({
                                paths: triangleCoords,
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.25
                            });
                            grid.setMap(map);
                        }
                    }
                </script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwv5JTuqQnKO-3eHRGNXcbUOxmuh6KsRA&callback=initMap">
                    </script>
            </div>
            <center><br><button onclick='initMap()' type='button' class='btn btn-primary mr-sm-2 mb-sm-2'>See Grid
                    Coverage</button></center>
        </div>
    </div>
</body>

</html>