<html>
<style>

</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="/">ProNet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="networkstatus">Network Status</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Devices
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Active Devices</a>
            <a class="dropdown-item" href="#">Network Configuration</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Statistics</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Geocoding
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Maps</a>
            <a class="dropdown-item" href="#">Latitude and Longitude</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Statistics</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Register</button>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <center>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/seo-communication/512/cloud_network-512.png"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Network Status</h5>
            <p class="card-text">Check the network status of all the devices connected to your local grid</p>
            <a href="#" class="btn btn-primary">ProNet Analytics</a>
          </div>
        </div>
      </center>
    </div>
    <div class="col-sm-4">
      <center>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://icon-library.net/images/connected-devices-icon/connected-devices-icon-17.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Devices</h5>
            <p class="card-text">Configure the devices in your local grid. Add, remove, reboot, stop or start devices in your grid</p>
            <a href="devices" class="btn btn-primary">Launch ProNet+</a>
          </div>
        </div>
      </center>
    </div>
    <div class="col-sm-4">
      <center>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/map-and-navigation-31/64/89-512.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Geocoding</h5>
            <p class="card-text">See your devices located on the map. Find your device's remote coordinates and coverage radius</p>
            <a href="#" class="btn btn-primary">Open GeoMaps</a>
          </div>
        </div>
      </center>
    </div>
  </div>


  <footer class="page-footer font-small blue fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> Team ProNet for CSCI 5193</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>