<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js">
  </script>
  <style type="text/css">
    #success {
      background: green;
    }

    #error {
      background: red;
    }

    .image {
      width: 3rem;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      document.getElementById("navbarDropdown").disabled = true;
      toastr.options = {
        'closeButton': true,
        'positionClass': 'toast-top-right',
        'preventDuplicates': true,
        'showDuration': '1000',
        'hideDuration': '1000',
        'timeOut': '2000',
        'extendedTimeOut': '1000',
        'showEasing': 'swing',
        'hideEasing': 'linear',
        'showMethod': 'fadeIn',
        'hideMethod': 'fadeOut',
      }
      $("#registerSubmit").click(function () {
        var username = $("#registerEmail").val();
        var password = $("#registerPassword").val();
        var organizationName = $("#organizationName").val();
        document.getElementById("navbarDropdown").disabled = false;
        if (null == username || username == '' || null == password || password == '' || null ==
          organizationName ||
          organizationName == '') {
          toastr.error("Please fill the mandatory fields");
        } else {
          var postURL =
            "https://pronet.azurewebsites.net/user?userEmail=" + username + "&userPassword=" + password +
            "&userOrganizationName=" + organizationName;
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("POST", postURL, false);
          xmlHttp.send(null);
          $("#registerModal").remove();
          $('.modal-backdrop').remove();
          document.getElementById("registerDialog").style.visibility = "hidden";
          // Start for storing the user email for session management
          sessionStorage.setItem("userName", username);
          // End for storing the user email for session management   
          toastr.success("Registration Successful");
        }
      });

      $("#loginSubmit").click(function () {
        var loginUserName = $("#loginEmail").val();
        var loginPassword = $("#loginPassword").val();
        var organizationName = $("#organizationName").val();

        var getURL =
          "https://pronet.azurewebsites.net/user/find?userEmail=" + loginUserName + "&&userPassword=" + loginPassword;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", getURL, false);
        xmlHttp.send(null);
        var loginData = xmlHttp.responseText;

        if (null != loginData && loginData.length > 0) {
          var parsedLoginData = $.parseJSON(loginData);
          if (null != parsedLoginData && parsedLoginData.length > 0) {
            document.getElementById("loginDialog").style.visibility = "hidden";
            document.getElementById("registerDialog").style.visibility = "hidden";
            $("#loginModal").remove();
            $('.modal-backdrop').remove();
            document.getElementById("userNameLabel").innerHTML = parsedLoginData[0].userEmail;
            document.getElementById("userNameLabel").style.color = "white";
            document.getElementById("userNameLabel").style.display = "block";
            document.getElementById("navbarDropdown").disabled = false;

            // Start for storing the user email for session management
            sessionStorage.setItem("userName", parsedLoginData[0].userEmail);
            // End for storing the user email for session management
            toastr.success("User logged in successfully");
          } else {
            toastr.error("Invalid Login");
          }
        } else {
          toastr.error("Invalid Login");
        }

      });

      $("#submitLogout").click(function () {
        sessionStorage.removeItem("userName");
        document.getElementById("userNameLabel").style.display = "none";
        toastr.success("User loggged out successfully");
        document.getElementById("loginDialog").style.visibility = "initial";
        document.getElementById("registerDialog").style.visibility = "initial";
        $("#loginModal").add();
        $('.modal-backdrop').add();
        $("#registerModal").add();
        $('.modal-backdrop').add();
        document.getElementById("navbarDropdown").disabled = true;
      });
    });

  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a href="/"><img class="image" src="/images/pronet-logo.png" alt="pronet logo"></a>
    <a class="navbar-brand" href="/">&ensp;ProNet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/networkstatus">Network Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/device">Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/geocoding">Geocoding</a>
        </li>
      </ul>
    </div>
    <!-- Start for code to add login and register feature-->
    <form class="form-inline my-2 my-lg-0 navbar-nav" id="loginRegForm">
      <a class="nav-link" data-toggle="modal" id="registerDialog" href="#registerModal">Register</a>
      <a class="nav-link" data-toggle="modal" id="loginDialog" href="#loginModal">Login</a>
      <label id="userNameLabel" style="display: none;"></label>
      <li class="nav-item dropdown" id="navDropDown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
          <a class="dropdown-item" id="submitLogout" href="#">Logout</a>
        </div>
      </li>
    </form>
    <!-- End for code to add login and register feature-->
  </nav>
  <br><br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <center>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://cdn4.iconfinder.com/data/icons/seo-communication/512/cloud_network-512.png"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Network Status</h5>
            <p class="card-text">Check the network status of all the devices connected to your local grid</p>
            <a href="networkstatus" class="btn btn-primary">ProNet Analytics</a>
          </div>
        </div>
      </center>
    </div>
    <div class="col-sm-4">
      <center>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://icon-library.net/images/connected-devices-icon/connected-devices-icon-17.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Devices</h5>
            <p class="card-text">Configure the devices in your local grid. Add, remove, reboot, stop or start devices in
              your grid</p>
            <a href="device" class="btn btn-primary">Launch ProNet+</a>
          </div>
        </div>
      </center>
    </div>
    <div class="col-sm-3">
      <center>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/map-and-navigation-31/64/89-512.png"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Geocoding</h5>
            <p class="card-text">See your devices located on the map. Find your device's remote coordinates and coverage
              radius</p>
            <a href="/geocoding" class="btn btn-primary">Open GeoMaps</a>
          </div>
        </div>
      </center>
    </div>
    <div class="col-sm-1"></div>
  </div>


  <footer class="page-footer font-small blue fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> Team ProNet for CSCI 5193</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- Start for code to create login modal-->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login Here..</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="email" id="loginEmail" placeholder="Enter email" class="form-control" required />
          </div><br>

          <div class="input-group">
            <input type="password" id="loginPassword" placeholder="Password" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" id="loginSubmit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End for code to create login modal-->

  <!-- Start for code to create register modal-->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Register Here..</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="email" id="registerEmail" placeholder="Enter email" class="form-control" required />
          </div><br>

          <div class="input-group">
            <input type="text" id="organizationName" placeholder="Organization Name" class="form-control" required />
          </div><br>
          <div class="input-group">
            <input type="password" id="registerPassword" placeholder="Password" class="form-control" required />
          </div><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" id="registerSubmit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End for code to create register modal-->
</body>

</html>