<html>

<head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="/">ProNet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href=networkstatus>Network Status<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Devices
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="devices">Active Devices</a>
            <a class="dropdown-item" href="#">Network Configuration</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Statistics</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Geocoding
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Maps</a>
            <a class="dropdown-item" href="#">Latitude and Longitude</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Statistics</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-5">
      <div class="m-4">
        <h4 class="card-title">List of Networks</h4>
        <div id="accordion">
          <div class="card" style="width: 30rem;">
            <center>
              <div class="card-header" id="net1">
                <h7 class="mb-0">
                  Network N1991
                  <button class="btn btn-link" data-toggle="collapse" data-target="#expandnet1" aria-expanded="true"
                    aria-controls="expandnet1">
                    <span class="badge badge-secondary badge-pill">More</span>
                  </button>
                </h7>
              </div>
            </center>
            <div id="expandnet1" class="collapse" aria-labelledby="net1" data-parent="#accordion">
              <div class="card-body m-4">
                <div>
                  <h7 class="card-title text-right">Bandwidth:</h7>
                  &nbsp;<h7 class="text-right">1 Gb/sec</h7>
                </div>
                <div>
                  <h7 class="card-title text-right">Traffic:</h7>
                  &nbsp;<h7 class="text-right">Avg 3</h7>
                </div>
                <div>
                  <h7 class="card-title text-right">Total Devices:</h7>
                  &nbsp;<h7 class="text-right">10</h7>
                </div>
                <h7 class="card-title text-right">Recent Device Activity</h7>
                <div class="card m-1" style="width: 20rem;">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AW613
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device JS879
                      <span class="badge badge-secondary badge-pill">Disabled</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device MS993
                      <span class="badge badge-danger badge-pill">Stopped</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AN245
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <center>
              <div class="card-header" id="net2">
                <h7 class="mb-0">
                  Network N1992
                  <button class="btn btn-link" data-toggle="collapse" data-target="#expandnet2" aria-expanded="true"
                    aria-controls="expandnet2">
                    <span class="badge badge-secondary badge-pill">More</span>
                  </button>
                </h7>
              </div>
            </center>
            <div id="expandnet2" class="collapse" aria-labelledby="net2" data-parent="#accordion">
              <div class="card-body m-4">
                <div>
                  <h7 class="card-title text-right">Bandwidth:</h7>
                  &nbsp<h7 class="text-right">10 Gb/sec</h7>
                </div>
                <div>
                  <h7 class="card-title text-right">Traffic:</h7>
                  &nbsp<h7 class="text-right">Avg 100</h7>
                </div>
                <div>
                  <h7 class="card-title text-right">Total Devices:</h7>
                  &nbsp<h7 class="text-right">1000</h7>
                </div>
                <h7 class="card-title text-right">Recent Device Activity</h7>
                <div class="card m-1" style="width: 20rem;">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AW423
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device JS235
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device MS653
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AN345
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device VK924
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AS435
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <center>
              <div class="card-header" id="net3">
                <h7 class="mb-0">
                  Network N1993
                  <button class="btn btn-link" data-toggle="collapse" data-target="#expandnet3" aria-expanded="true"
                    aria-controls="expandnet3">
                    <span class="badge badge-secondary badge-pill">More</span>
                  </button>
                </h7>
              </div>
            </center>
            <div id="expandnet3" class="collapse" aria-labelledby="net3" data-parent="#accordion">
              <div class="card-body m-4">
                <div>
                  <h7 class="card-title text-right">Bandwidth:</h7>
                  &nbsp<h7 class="text-right">100 Gb/sec</h7>
                </div>
                <div>
                  <h7 class="card-title text-right">Traffic:</h7>
                  &nbsp<h7 class="text-right">Avg 10000</h7>
                </div>
                <div>
                  <h7 class="card-title text-right">Total Devices:</h7>
                  &nbsp<h7 class="text-right">50000</h7>
                </div>
                <h7 class="card-title text-right">Recent Device Activity</h7>
                <div class="card m-1" style="width: 20rem;">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AW776
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device JS823
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device MS543
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AN230
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device VK874
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device AS003
                      <span class="badge badge-success badge-pill">Active</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device JST34
                      <span class="badge badge-secondary badge-pill">Disabled</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device MSY43
                      <span class="badge badge-danger badge-pill">Stopped</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device J5332
                      <span class="badge badge-secondary badge-pill">Disabled</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Device M4542
                      <span class="badge badge-danger badge-pill">Stopped</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img src="/images/networkImg1.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>

</body>
</head>

</html>